**Table of contents**<a id='toc0_'></a>    
- [Initialisation](#toc1_)    
- [Années](#toc2_)    
- [Épargne cumulée](#toc3_)    
- [Intérêts annuels bruts](#toc4_)    
- [Intérêts nets](#toc5_)    
  - [Annuels](#toc5_1_)    
  - [Mensuels](#toc5_2_)    
- [Dataframe](#toc6_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

# <a id='toc1_'></a>[Initialisation](#toc0_)

In [36]:
import yaml
import pandas as pd
import plotly.express as px

In [37]:
# CONFIG
# Load config file
with open("config.yaml", "r", encoding="utf-8") as f:
    config = yaml.safe_load(f)

In [38]:
# Setup
k = config["k"]["init"]
rate = config["rate"]["init"]
ann_savings = config["ann_savings"]["init"]
DURATION = config["duration_yrs"]
TAX = config["tax"]

In [39]:
df = pd.DataFrame(columns=["annee", "epargne", "capital", "brut", "net", "mensuel_net"])

# <a id='toc2_'></a>[Années](#toc0_)

In [40]:
df["annee"] = range(DURATION)
df["annee"] = df["annee"] + 1

# <a id='toc3_'></a>[Épargne cumulée](#toc0_)

In [41]:
df["epargne"] = k + ((df["annee"] - 1) * ann_savings)

# <a id='toc4_'></a>[Intérêts annuels bruts](#toc0_)

Chaque nouvelle année commence avec le **capital de départ** + l'**épargne** réalisée dans l'anée + les **intérêts de l'année passée**

Ce sont ces intérêts qui, réinjectés dans le calcul des intérêts de l'année en cours, forment les **intérêts composés**.

In [42]:
comp_k = [k]
comp_i = [k * rate]

for i in range(1, len(df.index)):
    new_k = comp_k[i-1] + ann_savings + comp_i[i-1]
    new_i = new_k * rate
    comp_k.append(new_k)
    comp_i.append(new_i)

df["brut"] = comp_i
df["brut"] = round(df["brut"], 2).astype(int)

df["capital"] = comp_k
df["capital"] = round(df["capital"], 0).astype(int)

# <a id='toc5_'></a>[Intérêts nets](#toc0_)

## <a id='toc5_1_'></a>[Annuels](#toc0_)

Prise en compte du PFU à 30% (incluant prélèvements sociaux et impôts sur les revenus).

In [43]:
df["net"] = round(df["brut"] * (1 - TAX), 0).astype(int)

## <a id='toc5_2_'></a>[Mensuels](#toc0_)

In [44]:
df["mensuel_net"] = round(df["net"] / 12, 0).astype(int)

# <a id='toc6_'></a>[Dataframe](#toc0_)

In [45]:
display(f"{k = }, {rate = }, {ann_savings = }, {DURATION = }, {TAX = }")
display(df)

'k = 2000, rate = 0.15, ann_savings = 1200, DURATION = 40, TAX = 0.3'

    annee  epargne  capital    brut     net  mensuel_net
0       1     2000     2000     300     210           18
1       2     3200     3500     525     368           31
2       3     4400     5225     783     548           46
3       4     5600     7209    1081     757           63
4       5     6800     9490    1423     996           83
5       6     8000    12114    1817    1272          106
6       7     9200    15131    2269    1588          132
7       8    10400    18600    2790    1953          163
8       9    11600    22590    3388    2372          198
9      10    12800    27179    4076    2853          238
10     11    14000    32456    4868    3408          284
11     12    15200    38524    5778    4045          337
12     13    16400    45503    6825    4778          398
13     14    17600    53528    8029    5620          468
14     15    18800    62757    9413    6589          549
15     16    20000    73371   11005    7703          642
16     17    21200    85576   12836    8985          749
17     18    22400    99613   14941   10459          872
18     19    23600   115755   17363   12154         1013
19     20    24800   134318   20147   14103         1175
20     21    26000   155665   23349   16344         1362
21     22    27200   180215   27032   18922         1577
22     23    28400   208447   31267   21887         1824
23     24    29600   240915   36137   25296         2108
24     25    30800   278252   41737   29216         2435
25     26    32000   321190   48178   33725         2810
26     27    33200   370568   55585   38910         3242
27     28    34400   427353   64102   44871         3739
28     29    35600   492656   73898   51729         4311
29     30    36800   567755   85163   59614         4968
30     31    38000   654118   98117   68682         5724
31     32    39200   753435  113015   79110         6592
32     33    40400   867651  130147   91103         7592
33     34    41600   998998  149849  104894         8741
34     35    42800  1150048  172507  120755        10063
35     36    44000  1323755  198563  138994        11583
36     37    45200  1523519  228527  159969        13331
37     38    46400  1753246  262986  184090        15341
38     39    47600  2017433  302614  211830        17652
39     40    48800  2321248  348187  243731        20311