# Initialisation

In [216]:
import yaml
import numpy as np
import pandas as pd
import plotly.express as px

In [217]:
# CONFIG
# Load config file
with open("config.yaml", "r", encoding="utf-8") as f:
    config = yaml.safe_load(f)

In [218]:
# Setup
k = config["k"]["init"]
rate = config["rate"]["init"]
ann_savings = config["ann_savings"]["init"]
DURATION = config["duration_yrs"]
TAX = config["tax"]

In [219]:
# üöß
rate = 0.1 ; ann_savings = 1000

In [220]:
df = pd.DataFrame(columns=["annee", "epargne", "brut", "epargne_cum", "comp_brut", "capital", "cum_net", "mensuel_net"])

# Ann√©es

In [221]:
df["annee"] = range(DURATION)
df["annee"] = df["annee"] + 1

# √âpargne cumul√©e

In [222]:
df["epargne"] = k + ((df["annee"] - 1) * ann_savings)

# Int√©r√™ts annuels bruts

Chaque nouvelle ann√©e commence avec le **capital de d√©part** + l'**√©pargne** r√©alis√©e dans l'an√©e + les **int√©r√™ts de l'ann√©e pass√©e**

Ce sont ces int√©r√™ts qui, r√©inject√©s dans le calcul des int√©r√™ts de l'ann√©e en cours, forment les **int√©r√™ts compos√©s**.

In [239]:
brut = [k * rate]
for i in range(1, len(df.index)):
    

    n = brut[i-1]
    brut.append(n)


#     cum = df.brut.loc[:i-1].cumsum()[i-1]
df["brut"] = brut
df["brut"] = round(df["brut"], 0).astype(int)

In [240]:
display(f"{k = }, {rate = }, {ann_savings = }, {DURATION = }, {TAX = }")
display(df)

'k = 2000, rate = 0.1, ann_savings = 1000, DURATION = 40, TAX = 0.3'

    annee  epargne    brut epargne_cum comp_brut capital cum_net mensuel_net
0       1     2000     200         NaN       NaN     NaN     NaN         NaN
1       2     3000    3200         NaN       NaN     NaN     NaN         NaN
2       3     4000    7200         NaN       NaN     NaN     NaN         NaN
3       4     5000   12200         NaN       NaN     NaN     NaN         NaN
4       5     6000   18200         NaN       NaN     NaN     NaN         NaN
5       6     7000   25200         NaN       NaN     NaN     NaN         NaN
6       7     8000   33200         NaN       NaN     NaN     NaN         NaN
7       8     9000   42200         NaN       NaN     NaN     NaN         NaN
8       9    10000   52200         NaN       NaN     NaN     NaN         NaN
9      10    11000   63200         NaN       NaN     NaN     NaN         NaN
10     11    12000   75200         NaN       NaN     NaN     NaN         NaN
11     12    13000   88200         NaN       NaN     NaN     NaN         NaN
12     13    14000  102200         NaN       NaN     NaN     NaN         NaN
13     14    15000  117200         NaN       NaN     NaN     NaN         NaN
14     15    16000  133200         NaN       NaN     NaN     NaN         NaN
15     16    17000  150200         NaN       NaN     NaN     NaN         NaN
16     17    18000  168200         NaN       NaN     NaN     NaN         NaN
17     18    19000  187200         NaN       NaN     NaN     NaN         NaN
18     19    20000  207200         NaN       NaN     NaN     NaN         NaN
19     20    21000  228200         NaN       NaN     NaN     NaN         NaN
20     21    22000  250200         NaN       NaN     NaN     NaN         NaN
21     22    23000  273200         NaN       NaN     NaN     NaN         NaN
22     23    24000  297200         NaN       NaN     NaN     NaN         NaN
23     24    25000  322200         NaN       NaN     NaN     NaN         NaN
24     25    26000  348200         NaN       NaN     NaN     NaN         NaN
25     26    27000  375200         NaN       NaN     NaN     NaN         NaN
26     27    28000  403200         NaN       NaN     NaN     NaN         NaN
27     28    29000  432200         NaN       NaN     NaN     NaN         NaN
28     29    30000  462200         NaN       NaN     NaN     NaN         NaN
29     30    31000  493200         NaN       NaN     NaN     NaN         NaN
30     31    32000  525200         NaN       NaN     NaN     NaN         NaN
31     32    33000  558200         NaN       NaN     NaN     NaN         NaN
32     33    34000  592200         NaN       NaN     NaN     NaN         NaN
33     34    35000  627200         NaN       NaN     NaN     NaN         NaN
34     35    36000  663200         NaN       NaN     NaN     NaN         NaN
35     36    37000  700200         NaN       NaN     NaN     NaN         NaN
36     37    38000  738200         NaN       NaN     NaN     NaN         NaN
37     38    39000  777200         NaN       NaN     NaN     NaN         NaN
38     39    40000  817200         NaN       NaN     NaN     NaN         NaN
39     40    41000  858200         NaN       NaN     NaN     NaN         NaN

# Capital

In [225]:
df["capital"] = df["comp_brut"] + df["epargne_cum"]

# Int√©r√™ts cumul√©s nets annuels

In [226]:
df["cum_net"] = round(df["cum_brut"] * (1 - TAX), 0).astype(int)

KeyError: 'cum_brut'

# Int√©r√™ts nets mensuels

In [ ]:
df["mensuel_net"] = round(df["cum_net"] / 12, 0).astype(int)