# Initialisation

In [277]:
import yaml
import numpy as np
import pandas as pd
import plotly.express as px

In [278]:
# CONFIG
# Load config file
with open("config.yaml", "r", encoding="utf-8") as f:
    config = yaml.safe_load(f)

In [279]:
# Setup
k = config["k"]["init"]
rate = config["rate"]["init"]
ann_savings = config["ann_savings"]["init"]
DURATION = config["duration_yrs"]
TAX = config["tax"]

In [288]:
df = pd.DataFrame(columns=["annee", "epargne", "capital", "brut", "net", "mensuel_net"])

# Années

In [289]:
df["annee"] = range(DURATION)
df["annee"] = df["annee"] + 1

# Épargne cumulée

In [290]:
df["epargne"] = k + ((df["annee"] - 1) * ann_savings)

# Intérêts annuels bruts

Chaque nouvelle année commence avec le **capital de départ** + l'**épargne** réalisée dans l'anée + les **intérêts de l'année passée**

Ce sont ces intérêts qui, réinjectés dans le calcul des intérêts de l'année en cours, forment les **intérêts composés**.

In [291]:
comp_k = [k]
comp_i = [k * rate]

for i in range(1, len(df.index)):
    new_k = comp_k[i-1] + ann_savings + comp_i[i-1]
    new_i = new_k * rate
    comp_k.append(new_k)
    comp_i.append(new_i)

df["brut"] = comp_i
df["brut"] = round(df["brut"], 2).astype(int)

df["capital"] = comp_k
df["capital"] = round(df["capital"], 0).astype(int)

# Intérêts nets

## Annuels

Prise en compte du PFU à 30% (incluant prélèvements sociaux et impôts sur les revenus).

In [292]:
df["net"] = round(df["brut"] * (1 - TAX), 0).astype(int)

## Mensuels

In [293]:
df["mensuel_net"] = round(df["net"] / 12, 0).astype(int)

In [294]:
display(f"{k = }, {rate = }, {ann_savings = }, {DURATION = }, {TAX = }")
display(df)

'k = 2000, rate = 0.15, ann_savings = 15000, DURATION = 40, TAX = 0.3'

    annee  epargne   capital     brut      net  mensuel_net
0       1     2000      2000      300      210           18
1       2    17000     17300     2595     1816          151
2       3    32000     34895     5234     3664          305
3       4    47000     55129     8269     5788          482
4       5    62000     78399    11759     8231          686
5       6    77000    105158    15773    11041          920
6       7    92000    135932    20389    14272         1189
7       8   107000    171322    25698    17989         1499
8       9   122000    212020    31803    22262         1855
9      10   137000    258823    38823    27176         2265
10     11   152000    312647    46897    32828         2736
11     12   167000    374544    56181    39327         3277
12     13   182000    445726    66858    46801         3900
13     14   197000    527584    79137    55396         4616
14     15   212000    621722    93258    65281         5440
15     16   227000    729980   109497    76648         6387
16     17   242000    854477   128171    89720         7477
17     18   257000    997649   149647   104753         8729
18     19   272000   1162296   174344   122041        10170
19     20   287000   1351641   202746   141922        11827
20     21   302000   1569387   235408   164786        13732
21     22   317000   1819795   272969   191078        15923
22     23   332000   2107764   316164   221315        18443
23     24   347000   2438929   365839   256087        21341
24     25   362000   2819768   422965   296076        24673
25     26   377000   3257733   488659   342061        28505
26     27   392000   3761393   564208   394946        32912
27     28   407000   4340602   651090   455763        37980
28     29   422000   5006692   751003   525702        43808
29     30   437000   5772696   865904   606133        50511
30     31   452000   6653601   998040   698628        58219
31     32   467000   7666641  1149996   804997        67083
32     33   482000   8831637  1324745   927321        77277
33     34   497000  10171383  1525707  1067995        89000
34     35   512000  11712090  1756813  1229769       102481
35     36   527000  13483903  2022585  1415810       117984
36     37   542000  15521489  2328223  1629756       135813
37     38   557000  17864712  2679706  1875794       156316
38     39   572000  20559419  3083912  2158738       179895
39     40   587000  23658332  3548749  2484124       207010