# Initialisation

In [1]:
import yaml
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
# CONFIG
# Load config file
with open("config.yaml", "r", encoding="utf-8") as f:
    config = yaml.safe_load(f)

In [89]:
# Setup
k = config["k"]["init"]
rate = config["rate"]["init"]
ann_savings = config["ann_savings"]["init"]
DURATION = config["duration_yrs"]
TAX = config["tax"]

In [90]:
# üöß
rate = 0.1 ; ann_savings = 1000

In [91]:
df = pd.DataFrame(columns=["annee", "epargne_cum", "brut", "cum_brut", "comp_brut", "capital", "cum_net", "mensuel_net"])

# Ann√©es

In [92]:
df["annee"] = range(DURATION)
df["annee"] = df["annee"] + 1

# √âpargne cumul√©e

In [96]:
df["epargne_cum"] = k + ((df["annee"] - 1) * ann_savings)

# Int√©r√™ts annuels bruts

In [98]:
df["brut"] = round((df["epargne_cum"]) * (rate), 0).astype(int)

# Int√©r√™ts cumul√©s bruts

In [101]:
df["cum_brut"] = df["brut"].cumsum()

# Int√©r√™ts compos√©s bruts

In [ ]:
df["comp_brut"] = df["cum_brut"]

In [102]:
display(f"{k = }, {rate = }, {ann_savings = }, {DURATION = }, {TAX = }")
display(df)

'k = 2000, rate = 0.1, ann_savings = 1000, DURATION = 40, TAX = 0.3'

    annee  epargne_cum  brut  cum_brut comp_brut capital cum_net mensuel_net
0       1         2000   200       200       NaN     NaN     NaN         NaN
1       2         3000   300       500       NaN     NaN     NaN         NaN
2       3         4000   400       900       NaN     NaN     NaN         NaN
3       4         5000   500      1400       NaN     NaN     NaN         NaN
4       5         6000   600      2000       NaN     NaN     NaN         NaN
5       6         7000   700      2700       NaN     NaN     NaN         NaN
6       7         8000   800      3500       NaN     NaN     NaN         NaN
7       8         9000   900      4400       NaN     NaN     NaN         NaN
8       9        10000  1000      5400       NaN     NaN     NaN         NaN
9      10        11000  1100      6500       NaN     NaN     NaN         NaN
10     11        12000  1200      7700       NaN     NaN     NaN         NaN
11     12        13000  1300      9000       NaN     NaN     NaN         NaN
12     13        14000  1400     10400       NaN     NaN     NaN         NaN
13     14        15000  1500     11900       NaN     NaN     NaN         NaN
14     15        16000  1600     13500       NaN     NaN     NaN         NaN
15     16        17000  1700     15200       NaN     NaN     NaN         NaN
16     17        18000  1800     17000       NaN     NaN     NaN         NaN
17     18        19000  1900     18900       NaN     NaN     NaN         NaN
18     19        20000  2000     20900       NaN     NaN     NaN         NaN
19     20        21000  2100     23000       NaN     NaN     NaN         NaN
20     21        22000  2200     25200       NaN     NaN     NaN         NaN
21     22        23000  2300     27500       NaN     NaN     NaN         NaN
22     23        24000  2400     29900       NaN     NaN     NaN         NaN
23     24        25000  2500     32400       NaN     NaN     NaN         NaN
24     25        26000  2600     35000       NaN     NaN     NaN         NaN
25     26        27000  2700     37700       NaN     NaN     NaN         NaN
26     27        28000  2800     40500       NaN     NaN     NaN         NaN
27     28        29000  2900     43400       NaN     NaN     NaN         NaN
28     29        30000  3000     46400       NaN     NaN     NaN         NaN
29     30        31000  3100     49500       NaN     NaN     NaN         NaN
30     31        32000  3200     52700       NaN     NaN     NaN         NaN
31     32        33000  3300     56000       NaN     NaN     NaN         NaN
32     33        34000  3400     59400       NaN     NaN     NaN         NaN
33     34        35000  3500     62900       NaN     NaN     NaN         NaN
34     35        36000  3600     66500       NaN     NaN     NaN         NaN
35     36        37000  3700     70200       NaN     NaN     NaN         NaN
36     37        38000  3800     74000       NaN     NaN     NaN         NaN
37     38        39000  3900     77900       NaN     NaN     NaN         NaN
38     39        40000  4000     81900       NaN     NaN     NaN         NaN
39     40        41000  4100     86000       NaN     NaN     NaN         NaN

# Capital

In [ ]:
df["capital"] = df["comp_brut"] + df["epargne_cum"]

# Int√©r√™ts cumul√©s nets annuels

In [ ]:
df["cum_net"] = round(df["cum_brut"] * (1 - TAX), 0).astype(int)

# Int√©r√™ts nets mensuels

In [ ]:
df["mensuel_net"] = round(df["cum_net"] / 12, 0).astype(int)