# Initialisation

In [258]:
import yaml
import numpy as np
import pandas as pd
import plotly.express as px

In [259]:
# CONFIG
# Load config file
with open("config.yaml", "r", encoding="utf-8") as f:
    config = yaml.safe_load(f)

In [260]:
# Setup
k = config["k"]["init"]
rate = config["rate"]["init"]
ann_savings = config["ann_savings"]["init"]
DURATION = config["duration_yrs"]
TAX = config["tax"]

In [261]:
# üöß
rate = 0.1 ; ann_savings = 1000

In [269]:
df = pd.DataFrame(columns=["annee", "epargne", "capital", "brut", "net", "mensuel_net"])

# Ann√©es

In [270]:
df["annee"] = range(DURATION)
df["annee"] = df["annee"] + 1

# √âpargne cumul√©e

In [271]:
df["epargne"] = k + ((df["annee"] - 1) * ann_savings)

# Int√©r√™ts annuels bruts

Chaque nouvelle ann√©e commence avec le **capital de d√©part** + l'**√©pargne** r√©alis√©e dans l'an√©e + les **int√©r√™ts de l'ann√©e pass√©e**

Ce sont ces int√©r√™ts qui, r√©inject√©s dans le calcul des int√©r√™ts de l'ann√©e en cours, forment les **int√©r√™ts compos√©s**.

In [272]:
comp_k = [k]
comp_i = [k * rate]

for i in range(1, len(df.index)):
    new_k = comp_k[i-1] + ann_savings + comp_i[i-1]
    new_i = new_k * rate
    comp_k.append(new_k)
    comp_i.append(new_i)

df["brut"] = comp_i
df["brut"] = round(df["brut"], 2).astype(int)

df["capital"] = comp_k
df["capital"] = round(df["capital"], 0).astype(int)

# Int√©r√™ts cumul√©s nets annuels

In [273]:
df["net"] = round(df["brut"] * (1 - TAX), 0).astype(int)

# Int√©r√™ts nets mensuels

In [275]:
df["mensuel_net"] = round(df["net"] / 12, 0).astype(int)

In [276]:
display(f"{k = }, {rate = }, {ann_savings = }, {DURATION = }, {TAX = }")
display(df)

'k = 2000, rate = 0.1, ann_savings = 1000, DURATION = 40, TAX = 0.3'

    annee  epargne  capital   brut    net  mensuel_net
0       1     2000     2000    200    140           12
1       2     3000     3200    320    224           19
2       3     4000     4520    452    316           26
3       4     5000     5972    597    418           35
4       5     6000     7569    756    529           44
5       6     7000     9326    932    652           54
6       7     8000    11259   1125    788           66
7       8     9000    13385   1338    937           78
8       9    10000    15723   1572   1100           92
9      10    11000    18295   1829   1280          107
10     11    12000    21125   2112   1478          123
11     12    13000    24237   2423   1696          141
12     13    14000    27661   2766   1936          161
13     14    15000    31427   3142   2199          183
14     15    16000    35570   3557   2490          208
15     16    17000    40127   4012   2808          234
16     17    18000    45140   4513   3159          263
17     18    19000    50654   5065   3546          296
18     19    20000    56719   5671   3970          331
19     20    21000    63391   6339   4437          370
20     21    22000    70730   7073   4951          413
21     22    23000    78803   7880   5516          460
22     23    24000    87683   8768   6138          512
23     24    25000    97452   9745   6822          568
24     25    26000   108197  10819   7573          631
25     26    27000   120016  12001   8401          700
26     27    28000   133018  13301   9311          776
27     28    29000   147320  14731  10312          859
28     29    30000   163052  16305  11414          951
29     30    31000   180357  18035  12624         1052
30     31    32000   199393  19939  13957         1163
31     32    33000   220332  22033  15423         1285
32     33    34000   243365  24336  17035         1420
33     34    35000   268702  26870  18809         1567
34     35    36000   296572  29657  20760         1730
35     36    37000   327229  32722  22905         1909
36     37    38000   360952  36095  25266         2106
37     38    39000   398047  39804  27863         2322
38     39    40000   438852  43885  30719         2560
39     40    41000   483737  48373  33861         2822